.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;

}
ul li{
  text-decoration: none;
  list-style: none;
float:left;
margin-right: 50px;

}